<div class="loginSetPass">
	<header id="header" class="mui-bar mui-bar-nav">

		<h1 class="mui-title">重置密码</h1>
		<button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="iconfont icon-icon07"></span>返回</button>
	</header>
	<div class="mui-content">
		<div class="setpass">
			<ul>
				<li>
					<span>重置密码</span>
					<input type="password" placeholder="请输入当前密码" v-model="newPassword">
				</li>
				<li class="setpass1">
					<span>再次确认</span>
					<input type="password" placeholder="6-20位字符" v-model="secondPassword">
				</li>
			</ul>
		</div>
		<div class="ensure" @click="setsmscode">
			<div>确定</div>
		</div>
	</div>

</div>