<div class="yo-scroll" :class="{'down':(state===0),'up':(state==1),refresh:(state===2),touch:touching}" @touchstart="touchStart($event)" @touchmove="touchMove($event)" @touchend="touchEnd($event)" @scroll="(onInfinite || infiniteLoading) ? onScroll($event) : undefined">
	<section class="inner" :style="{ transform: 'translate3d(0, ' + top + 'px, 0)' }">
		<header class="pull-refresh">
			<slot name="pull-refresh">
				<span class="down-tip">下拉更新</span>
				<span class="up-tip">松开更新</span>
				<span class="refresh-tip">更新中</span>
			</slot>
		</header>
		<slot></slot>
		<footer class="load-more">
			<slot name="load-more">
				<span>加载中……</span>
			</slot>
		</footer>
	</section>
</div>