			.mui-row.mui-fullscreen>[class*="mui-col-"] {
				height: 100%;
			}
			.mui-col-xs-3,
			.mui-control-content {
				overflow-y: auto;
				height: 100%;
			}
			.mui-segmented-control .mui-control-item {
				line-height: 50px;
				width: 100%;
			}
			.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
				background-color: #fff;
			}
			.fon16{
				font-size: 14px;
			}
.cxrmui-table-view-cell {
    position: relative;
    overflow: hidden;
    padding: 2px 2px;
    -webkit-touch-callout: none;
}
.cxrmui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;}
.mui-bar-nav.mui-bar .mui-icon {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 3px;
}

.mui-bar .mui-icon {
    font-size: 32px;
    position: relative;
    z-index: 20;
    padding-top: 7px;
    padding-bottom: 10px;
}
.searchinput{
	 border-radius: 6px;
    width: 100%;
    height: 30px;
    color: #323232;   
     padding-left: 20px;
     outline: none;
    border: none;
    font-size: 14px;
}

/*蓝色背景 白色字体*/
/*白色背景 蓝色字体*/
.tkxcsted,.tkxcDsted,.tktkxcJsted{	
	padding: 4px 12px;
	margin-right: 5px;
	border-radius:14px ;
}
.tkxcDsted{
    background-color: #FFFFFF;
    color: #31B4F1;
    border: 1px solid #31B4F1;
}
.tktkxcJsted{
    background-color: #ccc;
    color: #FFFFFF;
}
.tkxcsted{
    background-color: #31B4F1;
    color: #fff;
}