 * {
  box-sizing: border-box;
  }
   
  ul {
  list-style-type: none;
  }
   
  body {
  font-family: Verdana, sans-serif;
  	/*font-family:Helvetica;*/
  background: #E8F0F3;
  }
  #calendar{
  width:80%;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.1), 0 1px 5px 0 rgba(0,0,0,0.12);
  }
  .month {
  width: 100%;
  /*background: #00B8EC;*/

  }
   
  .month ul {
  margin: 0;
  padding: 0;
  /*display: flex;
  justify-content: space-between;*/
  }
   
  .year-month {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  }
   
  .year-month:hover {
  background: rgba(150, 2, 12, 0.1);
  }
   
  .choose-year {
  padding-left: 20px;
  padding-right: 20px;
  }
   
  .choose-month {
  text-align: center;
  font-size: 1.5rem;
  }
   
  .arrow {
  padding: 30px;
  }
   
  .arrow:hover {
  background: rgba(100, 2, 12, 0.1);
  }
   
  .month ul li {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0px;
  }

  .weekdays {
    margin: 0;
    padding: 7px 0;
    display: flex;
    flex-wrap: wrap;
    color: #666;
    justify-content: space-around;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
   }
   
   
   
  .weekdays li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
  }
   
  .days {
  padding: 0;
  background: #FFFFFF;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
   
  .days li {
  list-style-type: none;
  display: inline-block;
  width: 14.2%;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 1rem;
  color: #323232;

  }
   
  .days li .active {
  padding: 6px 10px;
  border-radius: 6px;
  /*background: #00B8EC;*/
  background: #31B4F1;
  color: #fff;
  }
   
  .days li .other-month {
  padding: 5px;
  color: gainsboro;
  }
   
  /*.days li:hover,.days li:active,.days li:focus {
  	background: #31B4F1;
 	 color: #FFFFFF;
  }*/
  .black{
  	color: #323232;
  }
.padT5{
	padding-top: 18px;
}
.fon16{
	font-size: 18px;
	font-weight: 400;
} .padB2{
	padding-bottom: 2px;
}
