		.approvalSend {
			padding-top: 2.5rem;
		}
		
		.approval-content {
			width: 100%;
			padding: 1.2rem 0.8rem;
			background: white;
		}
		
		.send-title,
		.send-tip {
			padding: 0.2rem 0;
		}
		/*-------------*/
		
		.approval-content .send-item {
			width: calc(100% - 1.6rem);
			padding: 0.6rem 0;
			display: flex;
			border-top: 1px solid #d7d7d7;
		}
		.approval-content .send-title{
			
		}
		.send-item .send-item-left {
			width: 30%;
			text-align: center;
			font-size: 0.9rem;
		}
		.send-item  .title-left{
			text-align: left;
		}
		.send-item .send-item-right {
			width: 70%;
			text-align: center;
		}
		/*------------*/
		
		.bottom-send {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 0.5rem;
			text-align: center;
			background: #F5A337;
			color: white;
			font-size: 0.9rem;
		}