<div id="applicationAccommodation">
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">住宿安排</h1>
        <div class="iconParent"><i class="icon iconfont icon-icon07 goHome" id="icon-arrow" @click="ReturnSuperior"></i></div>
    </header>


    <section class="applicationAccommodationSection">
        <!--入住人员-->
        <div class="HotelStaffBox">
        <div class="HotelStaff">
            <div class="HotelStaffTitle">入住人员</div>
            <div class="HotelStaffText">请选择入住人员</div>
            <div class="HotelStaffRight"><i class="icon iconfont icon-jiantou right-jiantou"></i></div>
        </div>
        </div>
        <!--  入住城市-->
        <div class="HotelStaffBox">
            <div class="HotelStaff">
                <div class="HotelStaffTitle">入住城市</div>
                <div class="HotelStaffText">请选择入住城市</div>
                <div class="HotelStaffRight"><i class="icon iconfont icon-jiantou right-jiantou"></i></div>
            </div>
        </div>
        <!--选择入住日期-->
        <div class="hotelDateBox">
            <div class="hotelDateText">请选择入住日期</div>
            <div>晚数    <i class="icon iconfont icon-jian-copy-copy"></i>     <span>   1  </span>     <i class="icon iconfont icon-jia"></i>  间  </div>
        </div>
        <!--房间数-->
        <div class="hotelRooms">
            <div>房间数    <i class="icon iconfont icon-jian-copy-copy"></i>     <span>   1  </span>     <i class="icon iconfont icon-jia"></i>  间  <span style="color: orange" class="hotelRoomsLastSpan">查询 <i class="icon iconfont icon-jiantou"></i></span></div>
        </div>
    </section>
    <!--展示-->
    <div class="show">
        <div class="accommodationFirstList">
            <div class="left1">上海--桔子水晶</div>
            <div class="right1">预算￥456</div>
        </div>
        <div class="accommodationSecondList">
            <div class="left2">03-23(周四)</div>
            <div class="right2">03-23(周四)</div>
        </div>
        <div class="accommodationThreeList">
            <div class="left3">豪华套房/2间</div>
            <div class="right3">共1晚</div>
        </div>
    </div>
    <!--违背事项-->
    <div class="Breach">
        <div class="ContraryText">违</div>
        <span>违背事项1;违背事项2</span>
    </div>
    <!--底部按钮-->
    <footer class="applicationAccommodationFooter">
        <button type="button" class="mui-btn mui-btn-warning">确定</button>
    </footer>
</div>