.loginSetPass{
	height: 100%;
	/*padding-top: 3rem;*/
}
.loginSetPass ul{
	padding: 0;
}
.loginSetPass .setpass ul li{
   display: flex;
   align-items:baseline;
   justify-content:flex-start;
   background-color:white;
   height: 3rem;
   line-height:3rem;
}
.loginSetPass .setpass ul li span{
   white-space: nowrap;
   padding:0 1rem;
}
.loginSetPass .setpass ul li input{
    border:none;
    width: 50%;
    font-size:0.5rem;
}
.loginSetPass .setpass ul .setpass1{
    border-top:1px solid #efefef;
    margin-bottom:2rem;
}
.loginSetPass .ensure div{
    color:white;
    width:80%;
	height: 2.6rem;
	line-height: 2.6rem;
	background-color:#fec240;
	font-size:1rem;
    text-align: center;
    margin: 0 auto;
    border-radius:6px ;
    margin-top: 1rem;
}