.loginforgetpass{
	height: 100%;
	width: 100%;
}


.loginforgetpass ul{
	padding: 0;
}
.loginforgetpass .forgetpass ul li{
   display: flex;
   align-items:baseline;
   justify-content:flex-start;
   background-color:white;
   height: 3rem;
   line-height:3rem;
}
.loginforgetpass .forgetpass ul li span{
   white-space: nowrap;
   padding:0 1rem;
}
.loginforgetpass .forgetpass ul li input{
    border:none;
    width: 50%;

}
.loginforgetpass .forgetpass ul .forgetpass1{
    border-top:1px solid #efefef;
}
.loginforgetpass .forgetpass ul #btn{
    font-size:0.8rem;
    padding: 0.2rem 0.15rem;
    /*width: 4rem;*/
}
.loginforgetpass #chashou{
	color:red;
	font-size:0.8rem;
	display: flex;
	justify-content:flex-end;
	padding-right: 10%;
}
.loginforgetpass .nextpage{
    color:white;
    width:80%;
	height: 2.6rem;
	line-height: 2.6rem;
	background-color:#fec240;
	font-size:1rem;
    text-align: center;
    margin: 0 auto;
    border-radius:6px ;
    margin-top: 1rem;
}