<div class="addCommonContacts">
	<header id="header" class="mui-bar mui-bar-nav">
		<a class="mui-pull-left iconfont icon-icon07" @click="toCommonInfo()"></a>
		<h1 class="mui-title">新增常用联系人</h1>
	</header>
	<div class="mui-input-row">
		<div class="name">
			<label>姓名</label>
			<input type="text" v-model="chName" class="mui-input-clear" placeholder="请输入姓名" data-input-clear="5">
			<span class="mui-icon mui-icon-clear mui-hidden"></span>
		</div>
		<div class="id">
			<label>身份证号</label>
			<input type="text" v-model="idNumber" class="mui-input-clear" placeholder="请输入身份证号" data-input-clear="5">
			<span class="mui-icon mui-icon-clear mui-hidden"></span>
		</div>
		<router-link tag="div" to="editPassport" class="huzhao">
				<label>护照信息</label>
				<input type="text" v-model="passport" class="mui-input-clear" placeholder="请填写护照信息" data-input-clear="5">
				<span class="mui-icon mui-icon-clear mui-hidden"></span>
				<i class="iconfont icon-jiantou right-arrow"></i>
		</router-link>
		
		<div class="phone">
			<label>手机</label>
			<input type="text" v-model="phoneNumber" class="mui-input-clear" placeholder="非必填" data-input-clear="5">
			<span class="mui-icon mui-icon-clear mui-hidden"></span>
		</div>
	</div>
	<p>身份证和护照必填一项</p>
	<div class="save" @click="saveCommonInfo">
		<span>确定</span>
	</div>
</div>