<div class="applyAlterTicket">
	<header class="mui-bar mui-bar-nav ">
		<a class="   mui-pull-left iconfont icon-icon07" @click="goback"></a>
		<h1 class="mui-title">申请改签</h1>
	</header>
	<!--航程信息-->
	<template v-for="(flightItem,index) in tkOrderRangeBeanList">
		<div class="flight-detail-item">
			<div class="flight-detail-top">
				<img src="" alt="" /><span>{{flightItem.airlineName}}{{flightItem.flightNo}}</span>&nbsp;&nbsp;
				<span>{{flightItem.departDate}}({{flightItem.week}})</span>
				<i class="iconfont icon-chenggong" :class="flightItem.isChoosed?'active':''" @click="chooseFLightItem(flightItem,index)"></i>
			</div>
			<div class="flight-detail-middle">
				<div class="flight-item-common">
					<div class="time">{{flightItem.departTime}}</div>
					<div class="airport">{{flightItem.departAirportName }}-{{flightItem.departTerminal }}</div>
				</div>
				<div class="arrow"><i class="iconfont icon-eg"></i></div>
				<div class="flight-item-common">
					<div class="time">{{flightItem.arriveTime}}</div>
					<div class="airport">{{flightItem.arriveAirportName }}-{{flightItem.arriveTerminal}}</div>
				</div>
			</div>
			<div class="flight-detail-bottom">
				<span>舱位：{{flightItem.cabinName}}&nbsp;|&nbsp;</span>
				<span>有餐饮&nbsp;|&nbsp;</span>
				<span>机型:{{flightItem.model}}</span>
			</div>
		</div>
		<!-- 查询航班 -->
		<div class="queryFlight" v-if="flightItem.isChoosed">
			<ul class="mui-table-view">
				<!--<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span>改签类型</span>
						<span @click="getAlterType('1')">升舱</span>
						<span @click="getAlterType('2')"> 改期</span>
					</a>
				</li>-->
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span class="mui-badge mui-badge-success" @click="queryFlight(flightItem)">查询航班</span>
						<i class="iconfont icon-rili" @click="getStartDate"></i> <span>{{departDate}}</span>
					</a>
				</li>
			</ul>
		</div>
	</template>
	<!--改签后    航段展示-->
	<template class="alter-flight" v-for="(flightItem,index) in alterHouFlight">
		<div class="flight-detail-item alter-item" v-if="alterHouFlight!=''">
			<span class="gaiImg">
				改
			</span>
			<div class="flight-detail-top">
				<img src="" alt="" /><span>{{flightItem.airlineName}}{{flightItem.flightNo}}</span>&nbsp;&nbsp;
				<span>{{flightItem.departDate}}({{flightItem.week}})</span>
				<i class="iconfont icon-chenggong" :class="flightItem.isChoosed?'active':''" @click="chooseAlterFlight(flightItem,index)"></i>
			</div>
			<div class="flight-detail-middle">
				<div class="flight-item-common">
					<div class="time">{{flightItem.departTime}}</div>
					<div class="airport">{{flightItem.departAirportName }}-{{flightItem.departTerminal }}</div>
				</div>
				<div class="arrow"><i class="iconfont icon-eg"></i></div>
				<div class="flight-item-common">
					<div class="time">{{flightItem.arriveTime}}</div>
					<div class="airport">{{flightItem.arriveAirportName }}-{{flightItem.arriveTerminal}}</div>
				</div>
			</div>
			<div class="flight-detail-bottom">
				<span>舱位：{{flightItem.cang}}&nbsp;|&nbsp;</span>
				<span>有餐饮&nbsp;|&nbsp;</span>
				<span>机型:{{flightItem.plane}}</span>
			</div>
		</div>
							
	</template>
	
	
	
	<!--乘机人展示-->
	<div class="pass-item" v-for="(passItem,index) in tkOrderPsgBeanList">
		<div>
			<span class="pass-name">{{passItem.psgName}}</span>&nbsp;&nbsp;&nbsp;<span>({{passItem.idNo}})</span>
		</div>
		<div class="pass-item-middle">
			<span>手机号:{{passItem.phoneNumber}}</span>
			<i class="iconfont icon-chenggong" :class="passItem.isChoosed?'active':''" @click="choosePassItem(passItem,index)"></i>
		</div>
		<div><span>票号:{{passItem.tkno}}</span></div>
	</div>

	<!--企业改签原因-->
	<div class="companyChooseReason">
	 	<div class="company-reason-top">企业改签原因 <span>(必填)</span></div>
	 	<router-link tag="div"  class="company-reason-bottom" to="/chooseCompanyReason?type=applyAlterTicket&refundType=1">
	 		<span v-show="changeReasonVip ==''">选择企业改签原因</span>
	 		<span class="right-reason">{{changeReasonVip }}</span>
	 		<i class="iconfont icon-jiantou"></i>
	 	</router-link>
	 </div>
	 
	 
	 <!--非自愿改签-->
		<div class="companyChooseReason" v-show="isShowNoRefundReason">
	 	<div class="company-reason-top">改签原因 <span>(非自愿改签原因)</span></div>
	 	<router-link tag="div"  class="company-reason-bottom" to="/chooseCompanyReason?type=applyAlterTicket&refundType=2">
	 		<span v-show="changeReason ==''">选择非自愿改签原因</span>
	 		<span class="right-reason">{{changeReason }}</span>
	 		<i class="iconfont icon-jiantou"></i>
	 	</router-link>
	 </div>
	 <div class="noExitTip" v-show="!isShowNoRefundReason">
                <span class="tanTipGao">!</span> 由于航班取消、提前、延误、航程改变或其他突发状况，造成您不能正常乘机，您可申请
                <span class="toNoZiYuan" @click="toChooseNoReason">
                	非自愿改签»</span>
      </div>
	 
	 
	 <div class="toApply" @click="toApplyAlter">申请改签</div>
	
	
	
</div>